<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <style>
        body {
{#            background-image: url(/static/images/bg2.jpg);#}
{#            background-repeat: repeat-y;#}
        }
    </style>
    <title>注册与登录</title>
    <style>
        body {
            background-color: lightskyblue;
        }
        .background {
            width: 60%;
            margin: 200px auto;
        }
    </style>
</head>

   <form class="pure-form">
    <fieldset>
        <legend>一个简单的单行表单</legend>

        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">

        <label for="remember">
            <input id="remember" type="checkbox"> 记住我
        </label>

        <button type="submit" class="pure-button pure-button-primary">登陆</button>
    </fieldset>
</form>
</body>
</html>
