<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登入博客</title>
</head>
<body>

<form action="/login" method="post" class="pure-form">
    <input name="username" type="text" placeholder="输入 name" class="auth-input">
    <input name="password" type="password" placeholder="输入 password" class="auth-input">
    <button class="button-secondary pure-button">登录</button>
</form>

<form action="/register" method="post" class="pure-form">
    <input name="username" type="text" placeholder="输入name" class="auth-input">
    <input name="password" type="password" placeholder="输入password" class="auth-input">
    <button class="button-secondary pure-button">注册</button>
</form>
</body>
</html>